@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 80px 2rem 2rem;
        gap: 1rem;
        transition: right 0.4s ease;
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
        background: linear-gradient(360deg, #061054 0%, #0A1F9D 50%, #1E3A8A 100%);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        width: 100%;
        animation: slideInRight 0.4s ease;
    }

    .nav-links a {
        display: block;
        padding: 11px 0px;
        color: white;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .contactus-btn-container {
        width: auto;
    }
}

@media (max-width: 480px) {
    .nav-links {
        background: linear-gradient(360deg, #061054 0%, #0A1F9D 50%, #1E3A8A 100%);
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .nav-container {
        padding: 1rem;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo-img {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }
}